<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.interview.model.dao.mapper.InterviewScheduleMapper">

    <resultMap id="BaseResultMap" type="com.achobeta.domain.interview.model.entity.InterviewSchedule">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="participationId" column="participation_id" jdbcType="BIGINT"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="isDeleted" column="is_deleted" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,participation_id,start_time,
        end_time,version,is_deleted,
        create_time,update_time
    </sql>
</mapper>
