<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.interview.model.dao.mapper.InterviewScheduleMapper">

    <resultMap id="ScheduleMap" type="com.achobeta.domain.interview.model.vo.ScheduleResumeVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="participationId" column="participation_id" jdbcType="BIGINT"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
        <association property="simpleStudentVO" columnPrefix="r_" resultMap="com.achobeta.domain.student.model.dao.mapper.StuResumeMapper.SimpleResumeMap" />
    </resultMap>

    <select id="getInterviewScheduleList" resultMap="ScheduleMap">
        select
            s.id, s.participation_id, s.start_time, s.end_time,
            r.id r_id, r.user_id r_user_id, r.student_id r_student_id, r.name r_name,
            stu.username r_username, r.gender r_gender, r.grade r_grade, r.major r_major,
            r.class r_class, r.status r_status
        from user m
             left join interviewer i on m.id = i.manager_id and m.is_deleted = 0 and i.is_deleted = 0
             left join interview_schedule s on i.schedule_id = s.id and i.is_deleted = 0 and s.is_deleted = 0
             left join activity_participation p on p.id = s.participation_id and p.is_deleted = 0 and s.is_deleted = 0
             left join user stu on p.stu_id = stu.id and p.is_deleted = 0 and stu.is_deleted = 0
             left join recruitment_activity a on p.act_id = a.id and p.is_deleted = 0 and a.is_deleted = 0
             left join recruitment_batch b on a.batch_id = b.id and a.is_deleted = 0 and b.is_deleted = 0
             left join stu_resume r on r.batch_id = b.id and r.user_id = stu.id and r.is_deleted = 0 and b.is_deleted = 0 and stu.is_deleted = 0
        where m.id = #{managerId,jdbcType=BIGINT} and a.id = #{actId,jdbcType=BIGINT} and s.id is not null
        order by s.start_time asc, s.end_time asc, s.create_time asc
    </select>

</mapper>
