<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.evaluate.model.dao.mapper.InterviewQuestionScoreMapper">

    <resultMap id="QuestionAverageMap"
               extends="com.achobeta.domain.question.model.dao.mapper.QuestionMapper.QuestionMap"
               type="com.achobeta.domain.evaluate.model.vo.InterviewQuestionAverageVO">
        <result property="average" column="average" jdbcType="DOUBLE"/>
    </resultMap>

    <select id="getAverageQuestions" resultMap="QuestionAverageMap">
        select
            q.id, q.title, q.standard, q.create_time, q.update_time, avg(s.score) average, s.create_time s_create_time
        from question q
             left join interview_question_score s on q.id = s.question_id and s.is_deleted = 0 and q.is_deleted = 0 and s.score != -1
        <where>
            q.is_deleted = 0
            <if test="questionIds != null">
                <foreach collection="questionIds" item="questionId" separator="," open="and q.id in (" close=")" >
                    #{questionId,jdbcType=BIGINT}
                </foreach>
            </if>
        </where>
        group by q.create_time
        order by s_create_time asc
    </select>

</mapper>
