<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.evaluate.model.dao.mapper.InterviewQuestionScoreMapper">

    <resultMap id="QuestionAverageMap" type="com.achobeta.domain.evaluate.model.vo.InterviewQuestionAverageVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="standard" column="standard" jdbcType="VARCHAR"/>
        <result property="average" column="average" jdbcType="DOUBLE"/>
    </resultMap>

    <select id="getAverageQuestions" resultMap="QuestionAverageMap">
        select
            q.id, q.title, q.standard, avg(s.score) average
        from question q
             left join interview_question_score s on q.id = s.question_id and s.is_deleted = 0 and q.is_deleted = 0 and s.score != -1
        where
            q.is_deleted = 0 and q.id
            <foreach collection="questionIds" item="questionId" separator="," open="in (" close=")" >
                #{questionId,jdbcType=BIGINT}
            </foreach>
        group by q.id
        order by q.id
    </select>

</mapper>
