<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.question.model.dao.mapper.QuestionMapper">

    <resultMap id="QuestionMap" type="com.achobeta.domain.question.model.vo.QuestionVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="standard" column="standard" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryQuestions" parameterType="java.lang.Long" resultMap="com.achobeta.domain.question.model.dao.mapper.QuestionMapper.BaseResultMap">
        select
            distinct q.id, q.title, q.standard
        from question q
             left join library_question_link lq on q.id = lq.question_id and q.is_deleted = 0 and lq.is_deleted = 0
             left join question_library l on l.id = lq.lib_id and l.is_deleted = 0 and lq.is_deleted = 0
        <where>
            q.id is not null and q.is_deleted = 0
            <if test="libId != null">
                and l.id = #{libId,jdbcType=BIGINT}
            </if>
        </where>
    </select>
</mapper>
