<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.question.model.dao.mapper.QuestionMapper">

    <select id="getQuestionsByLibId" parameterType="java.lang.Long"
            resultType="com.achobeta.domain.question.model.vo.QuestionVO">
        select
            q.id, q.title, q.standard
        from question q
             left join library_question_link lq on q.id = lq.question_id and q.is_deleted = 0 and lq.is_deleted = 0
             left join question_library l on l.id = lq.lib_id and l.is_deleted = 0 and lq.is_deleted = 0
        where l.id = #{libId,jdbcType=BIGINT} and q.id is not null
    </select>

</mapper>
