<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.paper.model.dao.mapper.QuestionPaperMapper">

    <resultMap id="QuestionPaperMap" type="com.achobeta.domain.paper.model.vo.QuestionPaperVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="queryPapers" parameterType="java.lang.Long"
            resultMap="com.achobeta.domain.paper.model.dao.mapper.QuestionPaperMapper.BaseResultMap">
        select
            -- 试卷与试卷库多对多，在本条 sql 容易出现重复行
            distinct p.id, p.title, p.description, p.create_time, p.update_time, lp.create_time lp_create_time
        from question_paper_library l
            left join library_paper_link lp on l.id = lp.lib_id and l.is_deleted = 0 and lp.is_deleted = 0
            left join question_paper p on p.id = lp.paper_id and p.is_deleted = 0 and lp.is_deleted = 0
        <where>
            p.id is not null and l.is_deleted = 0
            <if test="libIds != null">
                <foreach collection="libIds" open="and l.id in (" close=")" item="libId" separator=",">
                    #{libId,jdbcType=BIGINT}
                </foreach>
            </if>
        </where>
        order by lp_create_time asc
    </select>

</mapper>
