<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.paper.model.dao.mapper.QuestionEntryMapper">

    <resultMap id="QuestionEntryMap" type="com.achobeta.domain.paper.model.vo.QuestionEntryVO">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="type" column="lib_type" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getQuestionEntries" parameterType="java.lang.Long" resultMap="QuestionEntryMap">
        select
            qe.id, ql.lib_type, qe.title
        from question_entry qe, question_library ql
        where qe.is_deleted = 0 and ql.is_deleted = 0
          and ql.id = #{libId,jdbcType=BIGINT}
          and qe.lib_id = ql.id
        order by qe.create_time
    </select>

</mapper>
