<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.paper.model.dao.mapper.QuestionPaperMapper">

    <resultMap id="QuestionPaperMap" type="com.achobeta.domain.paper.model.vo.QuestionPaperVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getQuestionPapersByLibId" parameterType="java.lang.Long" resultMap="QuestionPaperMap">
        select
            p.id, p.title, p.description
        from question_paper_library l
             left join library_paper_link lp on l.id = lp.lib_id and l.is_deleted = 0 and lp.is_deleted = 0
             left join question_paper p on p.id = lp.paper_id and p.is_deleted = 0 and lp.is_deleted = 0
        where l.id = #{libId,jdbcType=BIGINT} and p.id is not null and l.is_deleted = 0
    </select>

</mapper>
