<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.recruitment.model.dao.mapper.RecruitmentMapper">

    <resultMap id="BaseResultMap" type="com.achobeta.domain.recruitment.model.entity.Recruitment">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="batch" column="batch" jdbcType="INTEGER"/>
            <result property="isRun" column="is_run" jdbcType="BIT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleted" column="is_deleted" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,batch,is_run,
        version,is_deleted,create_time,
        update_time
    </sql>
</mapper>
