<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.recruit.model.dao.mapper.ActivityParticipationMapper">

    <resultMap id="QuestionAnswerMap" type="com.achobeta.domain.recruit.model.vo.QuestionAnswerVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="answer" column="answer" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="PeriodMap" type="com.achobeta.domain.recruit.model.vo.TimePeriodVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="ParticipationPeriodMap" type="com.achobeta.domain.recruit.model.vo.ParticipationPeriodVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <collection property="timePeriodVOS" columnPrefix="t_" resultMap="PeriodMap"/>
    </resultMap>

    <resultMap id="ParticipationQuestionMap" type="com.achobeta.domain.recruit.model.vo.ParticipationQuestionVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <association property="stuSimpleResumeVO" columnPrefix="r_" resultMap="com.achobeta.domain.student.model.dao.mapper.StuResumeMapper.StuSimpleResumeMap"/>
        <collection property="questionAnswerVOS" columnPrefix="q_" resultMap="QuestionAnswerMap"/>
    </resultMap>

    <select id="getQuestions" parameterType="java.lang.Long" resultMap="QuestionAnswerMap">
        select
            q.id, q.title, pq.answer
        from
            activity_participation ap
            left join participation_question_link pq on ap.id = pq.participation_id and ap.is_deleted = 0 and pq.is_deleted = 0
            left join question q on pq.question_id = q.id and pq.is_deleted = 0 and q.is_deleted = 0
        where ap.id = #{participationId,jdbcType=BIGINT} and q.id is not null and ap.is_deleted = 0
    </select>

    <select id="getPeriods" parameterType="java.lang.Long" resultMap="PeriodMap">
        select
            t.id, t.start_time, t.end_time
        from
            activity_participation ap
            left join participation_period_link pp on ap.id = pp.participation_id and ap.is_deleted = 0 and pp.is_deleted = 0
            left join time_period t on pp.period_id = t.id and pp.is_deleted = 0 and t.is_deleted = 0
        where ap.id = #{participationId,jdbcType=BIGINT} and t.id is not null and ap.is_deleted = 0
    </select>

    <select id="getParticipationPeriods" resultMap="ParticipationPeriodMap">
        select
            ap.id, t.id t_id, t.start_time t_start_time, t.end_time t_end_time
        from
            activity_participation ap
            left join participation_period_link pp on ap.id = pp.participation_id and ap.is_deleted = 0 and pp.is_deleted = 0
            left join time_period t on pp.period_id = t.id and pp.is_deleted = 0 and t.is_deleted = 0
        where ap.is_deleted = 0 and ap.id
        <foreach collection="participationIds" open="in (" close=")" item="participationId" separator=",">
            #{participationId,jdbcType=BIGINT}
        </foreach>
    </select>

    <select id="getParticipationQuestions" resultMap="ParticipationQuestionMap">
        select
            ap.id, q.id q_id, q.title q_title, pq.answer q_answer,
            <include refid="com.achobeta.domain.student.model.dao.mapper.StuResumeMapper.Stu_Simple_Column_List"/>
        from
        activity_participation ap
            left join recruitment_activity a on a.id = ap.act_id and a.is_deleted = 0 and ap.is_deleted = 0
            left join recruitment_batch b on b.id = a.batch_id and b.is_deleted = 0 and a.is_deleted = 0
            left join stu_resume r on r.batch_id = b.id and r.user_id = ap.stu_id and b.is_deleted = 0 and r.is_deleted = 0
            left join participation_question_link pq on ap.id = pq.participation_id and ap.is_deleted = 0 and pq.is_deleted = 0
            left join question q on pq.question_id = q.id and pq.is_deleted = 0 and q.is_deleted = 0
        where ap.is_deleted = 0 and ap.id
        <foreach collection="participationIds" open="in (" close=")" item="participationId" separator=",">
            #{participationId,jdbcType=BIGINT}
        </foreach>
    </select>
</mapper>
