<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.recruit.model.dao.mapper.ActivityParticipationMapper">

    <resultMap id="PeriodMap" type="com.achobeta.domain.recruit.model.vo.TimePeriodVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="ParticipationPeriodMap" type="com.achobeta.domain.recruit.model.vo.ParticipationPeriodVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <collection property="timePeriodVOS" columnPrefix="t_" resultMap="PeriodMap"/>
    </resultMap>

    <select id="getQuestions" parameterType="java.lang.Long" resultType="com.achobeta.domain.recruit.model.vo.QuestionAnswerVO">
        select
            q.id, q.title, pq.answer
        from
            activity_participation ap
            left join participation_question_link pq on ap.id = pq.participation_id and ap.is_deleted = 0 and pq.is_deleted = 0
            left join question q on pq.question_id = q.id and pq.is_deleted = 0 and q.is_deleted = 0
        where ap.id = #{participationId,jdbcType=BIGINT} and q.id is not null
        order by pq.create_time
    </select>

    <select id="getPeriods" parameterType="java.lang.Long" resultType="com.achobeta.domain.recruit.model.vo.TimePeriodVO">
        select
            t.id, t.start_time, t.end_time
        from
            activity_participation ap
            left join participation_period_link pp on ap.id = pp.participation_id and ap.is_deleted = 0 and pp.is_deleted = 0
            left join time_period t on pp.period_id = t.id and pp.is_deleted = 0 and t.is_deleted = 0
        where ap.id = #{participationId,jdbcType=BIGINT} and t.id is not null
        order by pp.create_time
    </select>

    <select id="getParticipationPeriods" resultMap="ParticipationPeriodMap">
        select
            ap.id, t.id t_id, t.start_time t_start_time, t.end_time t_end_time
        from
            activity_participation ap
            left join participation_period_link pp on ap.id = pp.participation_id and ap.is_deleted = 0 and pp.is_deleted = 0
            left join time_period t on pp.period_id = t.id and pp.is_deleted = 0 and t.is_deleted = 0
        where ap.id in
        <foreach collection="participationIds" open="(" close=")" item="participationId" separator=",">
            #{participationId,jdbcType=BIGINT}
        </foreach>
        order by pp.create_time
    </select>
</mapper>
