<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.schedule.model.dao.mapper.InterviewScheduleMapper">

    <resultMap id="InterviewerMap" type="com.achobeta.domain.schedule.model.vo.InterviewerVO">
        <id property="managerId" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="ScheduleMap" type="com.achobeta.domain.schedule.model.vo.ScheduleVO">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="participationId" column="participation_id" jdbcType="BIGINT"/>
        <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
        <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="ScheduleResumeMap" extends="ScheduleMap" type="com.achobeta.domain.schedule.model.vo.ScheduleResumeVO">
        <association property="simpleStudentVO" columnPrefix="r_" resultMap="com.achobeta.domain.student.model.dao.mapper.StuResumeMapper.SimpleResumeMap" />
    </resultMap>

    <resultMap id="ScheduleDetailMap" extends="ScheduleResumeMap" type="com.achobeta.domain.schedule.model.vo.ScheduleDetailVO">
        <collection property="interviewerVOList" columnPrefix="m_" resultMap="InterviewerMap"/>
    </resultMap>

    <resultMap id="ParticipationScheduleMap" type="com.achobeta.domain.schedule.model.vo.ParticipationScheduleVO">
        <id property="participationId" column="id" jdbcType="BIGINT"/>
        <association property="simpleStudentVO" columnPrefix="r_" resultMap="com.achobeta.domain.student.model.dao.mapper.StuResumeMapper.SimpleResumeMap" />
        <collection property="scheduleVOS" columnPrefix="s_" resultMap="ScheduleMap"/>
    </resultMap>

    <select id="getInterviewScheduleList" resultMap="ScheduleResumeMap">
        select
            s.id, s.participation_id, s.start_time, s.end_time,
            <include refid="com.achobeta.domain.student.model.dao.mapper.StuResumeMapper.Simple_Column_List" />
        from user m
             left join interviewer i on m.id = i.manager_id and m.is_deleted = 0 and i.is_deleted = 0
             left join interview_schedule s on i.schedule_id = s.id and i.is_deleted = 0 and s.is_deleted = 0
             left join activity_participation p on p.id = s.participation_id and p.is_deleted = 0 and s.is_deleted = 0
             left join user stu on p.stu_id = stu.id and p.is_deleted = 0 and stu.is_deleted = 0
             left join recruitment_activity a on p.act_id = a.id and p.is_deleted = 0 and a.is_deleted = 0
             left join recruitment_batch b on a.batch_id = b.id and a.is_deleted = 0 and b.is_deleted = 0
             left join stu_resume r on r.batch_id = b.id and r.user_id = stu.id and r.is_deleted = 0 and b.is_deleted = 0 and stu.is_deleted = 0
        where m.id = #{managerId,jdbcType=BIGINT} and a.id = #{actId,jdbcType=BIGINT} and s.id is not null and m.is_deleted = 0
        order by s.start_time asc, s.end_time asc
    </select>

    <select id="getSituationsByActId" parameterType="java.lang.Long" resultMap="ParticipationScheduleMap">
        select
            p.id, s.id s_id, s.participation_id s_participation_id, s.start_time s_start_time, s.end_time s_end_time,
            <include refid="com.achobeta.domain.student.model.dao.mapper.StuResumeMapper.Simple_Column_List" />
        from activity_participation p
             left join user stu on p.stu_id = stu.id and p.is_deleted = 0 and stu.is_deleted = 0
             left join recruitment_activity a on p.act_id = a.id and p.is_deleted = 0 and a.is_deleted = 0
             left join recruitment_batch b on a.batch_id = b.id and a.is_deleted = 0 and b.is_deleted = 0
             left join stu_resume r on r.batch_id = b.id and r.user_id = stu.id and r.is_deleted = 0 and b.is_deleted = 0 and stu.is_deleted = 0
             left join interview_schedule s on s.participation_id = p.id and s.is_deleted = 0 and p.is_deleted = 0
        where a.id = #{actId,jdbcType=BIGINT} and r.id is not null and p.is_deleted = 0
    </select>

    <select id="getSituationsByParticipationId" parameterType="java.lang.Long" resultMap="ParticipationScheduleMap">
        select
            p.id, s.id s_id, s.start_time s_start_time, s.end_time s_end_time,
            <include refid="com.achobeta.domain.student.model.dao.mapper.StuResumeMapper.Simple_Column_List" />
        from activity_participation p
             left join user stu on p.stu_id = stu.id and p.is_deleted = 0 and stu.is_deleted = 0
             left join recruitment_activity a on p.act_id = a.id and p.is_deleted = 0 and a.is_deleted = 0
             left join recruitment_batch b on a.batch_id = b.id and a.is_deleted = 0 and b.is_deleted = 0
             left join stu_resume r on r.batch_id = b.id and r.user_id = stu.id and r.is_deleted = 0 and b.is_deleted = 0 and stu.is_deleted = 0
             left join interview_schedule s on s.participation_id = p.id and s.is_deleted = 0 and p.is_deleted = 0
        where p.id = #{participationId,jdbcType=BIGINT} and r.id is not null and p.is_deleted = 0
    </select>

    <select id="getInterviewerScheduleDetail" parameterType="java.lang.Long" resultMap="ScheduleDetailMap">
        select
            s.id, s.participation_id, s.start_time, s.end_time,
            m.id m_id, m.username m_username, m.nickname m_nickname,m.email m_email,
            m.phone_number m_phone_number, m.avatar m_acvtar,
            <include refid="com.achobeta.domain.student.model.dao.mapper.StuResumeMapper.Simple_Column_List" />
        from interview_schedule s
             left join activity_participation p on p.id = s.participation_id and p.is_deleted = 0 and s.is_deleted = 0
             left join user stu on p.stu_id = stu.id and p.is_deleted = 0 and stu.is_deleted = 0
             left join recruitment_activity a on p.act_id = a.id and p.is_deleted = 0 and a.is_deleted = 0
             left join recruitment_batch b on a.batch_id = b.id and a.is_deleted = 0 and b.is_deleted = 0
             left join stu_resume r on r.batch_id = b.id and r.user_id = stu.id and r.is_deleted = 0 and b.is_deleted = 0 and stu.is_deleted = 0
             left join interviewer i on s.id = i.schedule_id and s.is_deleted = 0 and i.is_deleted = 0
             left join user m on m.id = i.manager_id and m.is_deleted = 0 and i.is_deleted = 0
        where s.id = #{scheduleId,jdbcType=BIGINT} and s.is_deleted = 0
    </select>

</mapper>
