<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.recruit.model.dao.mapper.ParticipationPeriodLinkMapper">

    <resultMap id="BaseResultMap" type="com.achobeta.domain.recruit.model.entity.ParticipationPeriodLink">
            <result property="participationId" column="participation_id" jdbcType="BIGINT"/>
            <result property="periodId" column="period_id" jdbcType="BIGINT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleted" column="is_deleted" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        participation_id,period_id,version,
        is_deleted,create_time,update_time
    </sql>
</mapper>
