<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.recruit.model.dao.mapper.RecruitmentActivityMapper">

    <resultMap id="BaseResultMap" type="com.achobeta.domain.recruit.model.entity.RecruitmentActivity">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="batchId" column="batch_id" jdbcType="BIGINT"/>
            <result property="paperId" column="paper_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="target" column="target" jdbcType="OTHER" typeHandler="com.achobeta.handler.MyBatisJacksonTypeHandler"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="deadline" column="deadline" jdbcType="TIMESTAMP"/>
            <result property="isRun" column="is_run" jdbcType="BIT"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleted" column="is_deleted" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,batch_id,paper_id,title,
        target,description,deadline,
        is_run,version,is_deleted,
        create_time,update_time
    </sql>
</mapper>
