<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.resumestate.model.dao.mapper.ResumeStatusProcessMapper">

    <resultMap id="BaseResultMap" type="com.achobeta.domain.resumestate.model.entity.ResumeStatusProcess">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="resumeId" column="resume_id" jdbcType="BIGINT"/>
            <result property="resumeStatus" column="resume_status" jdbcType="INTEGER"/>
            <result property="resumeEvent" column="resume_event" jdbcType="INTEGER"/>
            <result property="version" column="version" jdbcType="INTEGER"/>
            <result property="deleted" column="is_deleted" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,resume_id,resume_status,
        resume_event,version,is_deleted,
        create_time,update_time
    </sql>
</mapper>
