<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achobeta.domain.recruitment.model.dao.mapper.RecruitmentActivityMapper">

    <select id="getStuIdsByRecId" parameterType="java.lang.Long" resultType="java.lang.Long">
        select
            u.id
        from recruitment_activity r, questionnaire q, user u
        where r.is_deleted = 0 and q.is_deleted = 0 and u.is_deleted = 0
          and u.user_type = 1 and r.id = #{recId,jdbcType=BIGINT}
          and r.id = q.rec_id and q.stu_id = u.id
    </select>

</mapper>
